.code-editor {
  width: 600px;
  height: 800px;
  margin: 0 auto;
  background: rgb(54, 57, 68);
  font-size: 16px;
  color: white;
  padding: 10px;
  overflow: auto;
  font-family: Monaco, MonoSpace;
  pre {
    margin: 0;
  }
  textarea {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  *::selection  {
    background: rgba(255, 255, 255, 0.2)
  }
}